@model IEnumerable<CarWorkshop.Application.CarWorkshop.CarWorkshopDto>

@{
    ViewData["Title"] = "Car Workshops";
}

<h1>Car Workshops</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.PhoneNumber</h6>
                <p class="card-text">@item.Description</p>
                <a class="btn btn-primary" asp-controller="CarWorkshop" asp-action="Details" asp-route-encodedName="@item.EncodedName">Details</a>
                @if (item.IsEditable)
                {
                    <a class="btn btn-outline-secondary" asp-controller="CarWorkshop" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
                }
            </div>
        </div>
    }
</div>

